<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<div th:fragment="styles">
<!-- 	<link href="../styles/monitor.css" type="text/css" rel="stylesheet" />
	<link href="../styles/layout.css" type="text/css" rel="stylesheet" />
	<link href="../styles/table.css" type="text/css" rel="stylesheet" />
	<link href="../styles/themes/base/jquery.ui.all.css" rel="stylesheet" />
	<link href="../styles/monitor-search.css" type="text/css" rel="stylesheet" />
	<link href="../styles/asyncbox/asyncbox.css" type="text/css"  rel="stylesheet" />	 -->
</div>
<script type="text/javascript" src="../scripts/jquery-1.7.1.js"></script>
<div th:fragment="scripts">
	<script src="../scripts/authority/role/roleTab.js" type="text/javascript"></script>
	<script src="../scripts/authority/role/roleUserList.js" type="text/javascript"></script>
	<script src="../scripts/authority/role/jquery.cleverTabs.js" type="text/javascript"></script>
	<script src="../scripts/ui/jquery-ui.js"></script>
</div>
</head>
<body>
<div th:fragment="content" style="height:450px;margin: 5px; padding: 2px; border: 1px solid #aacbee; background: #f8f8f8; min-width: 1020px;">
<!-- 		<table cellpadding="0" cellspacing="0" border="0" width="100%"> -->
<!-- 			<tr> -->
<!-- 				<td class="Table_title" ><img src="../images/icon_01.gif" /> 权限管理->角色->编辑11</td> -->
<!-- 			</tr> -->
<!-- 		</table> -->
		<div id="tabs" style="height:450px;">
			<ul>
	
			</ul>
		</div>
</div>
</body>
</html>