<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>${page_title}</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <link rel="icon" type="image/x-icon" href="../favicon.ico" /> 
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" /> 
    <div th:fragment="styles">
    <link href="../styles/monitor.css" type="text/css"  rel="stylesheet" />
    <link href="../styles/layout.css" type="text/css"  rel="stylesheet" />
    <link href="../styles/table.css" type="text/css"  rel="stylesheet" />
    <link href="../styles/monitor-search.css" type="text/css"  rel="stylesheet" />
    <link href="../styles/asyncbox/asyncbox.css" type="text/css"
		rel="Stylesheet" />
    </div>
    <script type="text/javascript" src="../scripts/jquery-1.7.1.js"></script>
    <script src="../scripts/paging.js"></script>
    <div th:fragment="scripts">
   		 <script type="text/javascript" src="../scripts/rule/examApprove.js"></script>
    	 <script src="../scripts/AsyncBox.v1.4.5.js"></script>
    </div>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<div th:fragment="content" style="margin: 5px; padding: 2px; border: 1px solid #aacbee; background: #f8f8f8; min-width: 1020px;">
		<form id="ruleForm" name="ruleForm" method="post" action="" th:object="${rlmgRuleCondition}">
			<input type="hidden" name="currentPage" value="1" th:field="*{currentPage}"/>
            <input type="hidden" name="totalPage"   value="5" th:field="*{totalPage}"/>
            <input type="hidden" name="jumpToPage" id="jumpToPage"  value="" />
            <input type="hidden" name="ruleId" id="ruleId"  value="" />
            <input type="hidden" name="ruleName" id="ruleName1"  value="" />
            <input type="hidden" name="backMsg" id="backMsg" th:value="${backMsg}" />
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td class="Table_title"><img src="../images/icon_01.gif" />审批一览</td>
				</tr>
			</table>
            <div id="searchDiv" class="Graybg">
                <table class="Table_s">
                    <tr>
                        <td class="label" width="70px">规则名</td>
                        <td><input type="text" name="ruleName" id="ruleName" value="" th:field="*{ruleName}"/></td>
						
						<td class="label">状态</td>
						<td width="6%" align="left">
			        	    <select id="status" style="width:100px;" name="status" th:field="*{status}">
			        	    	<option value="">请选择</option>
			        	    	<option value="1">待审批</option>
			        	    	<option value="2">已审批</option>
			        	    	<option value="3">已驳回</option>
			        	    	<option value="4">已发布</option>
			        	    </select>
						</td>
						<td>&nbsp;</td>
					<td align="right">
							<button  id="seachBtn" name='seachBtn'  style="width: 85px;height:25px;cursor:pointer;" class="btn01">
								<img src="../images/btn/search.gif" style="vertical-align: middle;"/>&nbsp;搜索
							</button>
						</td>
						<td align="left">
							<button  id="cleanBtn" name='cleanBtn' style="width: 85px;height:25px;cursor:pointer;" class="btn01">
								<img src="../images/btn/clean.gif" style="vertical-align: middle;"/>&nbsp;清空
							</button>
						</td>
                    </tr>
                    <tr style="height:1px;">
                        <td style="width: 85px;"></td>
                        <td style="width: 120px;"></td>
                        <td style="width: 55px;"></td>
                        <td style="width: 145px;"></td>
                        <td style="width: 55px;"></td>
                        <td style="width: 145px;"></td>
                        <td style="width: 55px;"></td>
                        <td style="width: 145px;"></td>
                        <td style="width: 55px;"></td>
                        <td style=""></td>
                    </tr>
                </table>
                </div>
           </form>
           <hr />
		<div id="dataTable" style="padding-top: 5px; border: 0px solid #aacbee;">
			<div align="left">
					<button  id="releaseBtn" name='releaseBtn' style="height:25px;cursor:pointer;" class="btn01">
						<img src="../images/release.gif" style="vertical-align: middle;"/>发布
					</button>
			</div>
			<p style="height:5px;"></p>
			<table style="width: 100%; margin-top: 1px;" border="1px" cellspacing="0" cellpadding="1" class="Table_01">
				<thead>
					<tr>
					    <th style="width: 3%">
					    	<input align="center" type="checkbox" id="parentBox" name="parentBox" onclick="javascript:checkParent();"/>
					    </th>
						<th width="5%" align="center">列号</th>
						<th width="10%">规则名</th>
						<th width="10%">提交人</th>
						<th width="13%">提交时间</th>
						<th width="10%">审批人</th>
						<th width="13%">审批时间</th>
						<th width="5%">状态</th>
						<th width="10%">意见</th>
						<th width="9%">操作</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="item : ${ruleList}">
					    <td align="center"><input type="checkbox" id="childrenBox" name="childrenBox" onclick="javascript:checkChildren();" th:value="${item.ruleId}"/></td>
						<td th:text="${#ids.seq('')}" align="center">列号</td>
						<td th:title="${item.ruleName}"><div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:150px;"><nobr><label th:text="${item.ruleName}"></label></nobr></div></td>
						<td th:text="${item.applyBy}" align="left">提交人</td>
						<td th:text="${item.applyTime}" align="left">提交时间</td>
						<td th:text="${item.permitBy}" align="left">审批人</td>
						<td th:text="${item.permitTime}" align="left">审批时间</td>
						<td th:text="((${item.status} eq '1')?'待审批':((${item.status} eq '2')?'已审批':((${item.status} eq '3')?'已驳回':((${item.status} eq '4')?'已发布':'其他')))) " />
						<td th:title="${item.opinions}"><div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:200px;"><nobr><label th:text="${item.opinions}"></label></nobr></div></td>
						<td  align="center">                  
						<a href="#" th:onclick="'javascript:ruleDetails(\''+${item.ruleId}+'\',\'' + ${item.ruleName}+'\')'"  class="Linkblue">详细</a>
						</td>
					</tr>
				</tbody>
				<tfoot>
                    <tr th:unless="${#lists.isEmpty(ruleList)}" class="datatable-paging">
		                 <td colspan="5" class="datatable-paging-info">
		                     <span class="datatable-paging-count">第<span th:text="${rlmgRuleCondition.currentPage}">1</span>页/共<span th:text="${rlmgRuleCondition.totalPage}">550</span>页</span>
		                     <span class="datatable-paging-total">总共<span th:text="${rlmgRuleCondition.totalSize}">5500</span>条数据</span>
		                 </td>
		                 <td colspan="5" class="datatable-paging-page">
		                     <span class="datatable-paging-first" th:style="${rlmgRuleCondition.currentPage == 1 ? 'display: none;' : ''}" onclick="firstPage(document.ruleForm);">首页</span>
		                     <span class="datatable-paging-previous" th:style="${rlmgRuleCondition.currentPage == 1 ? 'display: none;' : ''}" onclick="prevPage(document.ruleForm);">上一页</span>
		                     <span class="datatable-paging-next" th:style="${rlmgRuleCondition.currentPage == rlmgRuleCondition.totalPage ? 'display: none;' : ''}" onclick="nextPage(document.ruleForm);">下一页</span>
		                     <span class="datatable-paging-last" th:style="${rlmgRuleCondition.currentPage == rlmgRuleCondition.totalPage ? 'display: none;' : ''}" onclick="lastPage(document.ruleForm);">尾页</span>
		                     <span class="datatable-paging-jump" th:style="${rlmgRuleCondition.totalPage == 1 ? 'display: none;' : ''}">
		                         <span>跳转到：</span>
		                         <input type="text" class="datatable-paging-jump-input" id="jumpToInput" />
		                         <span class="datatable-paging-jump-go" onclick="jumpToPage(document.ruleForm, document.getElementById('jumpToInput'));"></span>
		                     </span>
		                 </td>
	                </tr>
                    <tr th:if="${#lists.isEmpty(ruleList)}" class="datatable-paging">
	                    <td colspan="10" class="datatable-paging-info">
	                        <span>没有查询结果，请修改检索条件重新检索。</span>
	                    </td>
	                </tr>
				</tfoot>
			</table>
		</div>
	</div>
</body>
</html>