
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>条件列配置信息</title>
    <link rel="icon" type="../image/x-icon" href="../favicon.ico" /> 
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" /> 
    <div th:fragment="styles">
	    <link href="../styles/monitor.css" type="text/css"  rel="stylesheet" />
	    <link href="../styles/layout.css" type="text/css"  rel="stylesheet" />
	    <link href="../styles/table.css" type="text/css"  rel="stylesheet" />
	    <link href="../styles/monitor-search.css" type="text/css"  rel="stylesheet" />
    </div>
    <script type="text/javascript" src="../scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="../scripts/ui/jquery.ui.button.js"></script>
	<div th:fragment="scripts">
        <script type="text/javascript" src="../scripts/rule/initConditionPage.js"></script>
    </div>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body >
  <p class="space10"></p>
    <table cellpadding="0" cellspacing="0" border="0"  width="100%">
    <tr>
    <td class="Table_title">
    <img src="../images/icon_01.gif" />&nbsp;&nbsp;条件列配置信息
    <input type="hidden" th:value="${exe}" id="exe"/>
    <input type="hidden" th:value="${desc}" id="descFirst"/>
    <input type="hidden" th:value="${itemList}" id="itemList"/>
    <input type="hidden" th:value="${isCon}" id="isCon"/>
    <input type="hidden" th:value="1" id="t"/>
    </td>
    </tr>
    </table>
		<div id="headInfo" class="Graybg">
			<table cellpadding="0" cellspacing="0" border="0" class="Table_02" >
			<tr>
			<th width="16%" align="right">计算类型</th>
			<td width="84%" align="left"><input name="radiobutton" type="radio" id="gongshi" value="1"  checked="checked"  onclick="javascript:changeTab(1);"/>
			  公式编辑
				<input type="radio" name="radiobutton" id="ziyou"  value="2" onclick="javascript:changeTab(2);" />
			  自由编辑</td>
			</tr>
			</table>
		</div>
		
		<div id="selectEdit">
			<table id="condition" width="72%" border="0" cellpadding="0" cellspacing="0" class="Table_01">
				<tr>
				  <td width="16%"><div align="right">描述</div></td>
					<td>
						<input id="desc" name="textfield" maxlength="30" type="text" th:value="${desc}" />
					</td>
				</tr>
				<tr>
					<td><div align="right">字段名</div></td>
					<td width="84%">
						<select id="item" name="select">
						  	<option th:each="item : ${itemList}" th:id="${item.fieldType}" th:value="${item.fieldEnName}" th:text="${item.fieldName}" >${item.fieldName}
								</option>
						</select>
					&nbsp;&nbsp;&nbsp;&nbsp;
						<select id="compare" name="select2">
							<option id="eq" value="==">等于</option>
					  		<option id="gt" value="gt">大于</option>
							<option id="lt" value="lt">小于</option>
							<option id="lt" value="lte">小于等于</option>
					  		<option id="gt" value="gte">大于等于</option>
					  		<option id="eq" value="!=">不等于</option>
					</select>
						&nbsp;&nbsp;&nbsp;&nbsp;
					<input id="input_value" name="textfield2" maxlength="10" type="text" value="" />
					 &nbsp;&nbsp;&nbsp;&nbsp;
					 <a href="#" onclick="addCond(this);" class="Linkblue" target="_self">添加</a>
				  </td>
				</tr>
			</table>
		</div>
		<div id="freeEdit" align="center" style="display:none">
			<table width="72%" border="0" cellpadding="0" cellspacing="0" class="Table_01">
				<tr>
				  <td width="16%"><div align="right">描述</div></td>
					<td>
						<input id="desc2" name="textfield" maxlength="30" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td width="16%" align="right">内容</td>
					<td width="84%">
						<textarea id="context" name="context"  rows="5" cols="30" ></textarea>
				  </td>
				</tr>
			</table>
		</div>
	<div style="clear:both">
	<br/>
	<!--  
	<div align="center">
	<table>
		<tr>
			<td align="center">
				  <input name="Input" type="button"  value="确定" class="btn_popup" onclick="submitOk();" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				  <input name="Input2" id="cancle" type="button" onclick="javascript:$.close('setCondition');"  value="取消" class="btn_popup"/>
			</td>
		</tr>
	</table>
	-->
</div>
</body>
</html>