<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>字典项目一览</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="icon" type="image/x-icon" href="../favicon.ico" />
<link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" />
<style>
fieldset {
	padding: 0;
	border: 0;
	margin-top: 3px;
}

.ui-dialog .ui-state-error {
	padding: .3em;
}

.validateTips {
	border: 1px solid transparent;
}

.ui-widget-header {
	border: 1px solid #aaaaaa;
	background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png)
		50% 50% repeat-x;
	color: #222222;
	font-weight: bold;
}
</style>
<div th:fragment="styles">
	<link href="../styles/monitor.css" type="text/css" rel="stylesheet" />
	<link href="../styles/layout.css" type="text/css" rel="stylesheet" />
	<link href="../styles/table.css" type="text/css" rel="stylesheet" />
	<link rel="stylesheet" href="../styles/themes/base/jquery.ui.all.css" />
	<link href="../styles/monitor-search.css" type="text/css"
		rel="stylesheet" />
</div>
<script type="text/javascript" src="../scripts/jquery-1.7.1.js"></script>
<script type="text/javascript" src="../scripts/paging.js"></script>
<div th:fragment="scripts">
	<script src="../scripts/ui/jquery.ui.core.js"></script>
	<script src="../scripts/ui/jquery.ui.widget.js"></script>
	<script src="../scripts/ui/jquery.ui.mouse.js"></script>
	<script src="../scripts/ui/jquery.ui.button.js"></script>
	<script src="../scripts/ui/jquery.ui.draggable.js"></script>
	<script src="../scripts/ui/jquery.ui.position.js"></script>
	<script src="../scripts/ui/jquery.ui.resizable.js"></script>
	<script src="../scripts/ui/jquery.ui.dialog.js"></script>
	<script src="../scripts/ui/jquery.ui.effect.js"></script>
	<script type="text/javascript"
		src="../scripts/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="../scripts/term/dictitemlist.js"></script>
</div>
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<div th:fragment="content"
		style="margin: 5px; padding: 2px; border: 1px solid #aacbee; background: #f8f8f8; min-width: 1020px;">
		<form id="DataForm" name="DataForm" method="post"
			action="./dictitemlist.html" th:object="${termMainCondition}">
			<input type="hidden" id="titleFlag" name="titleFlag" th:value="${termMainCondition.title}" />
			<input type="hidden" id="viewTypeId" name="viewTypeId" th:value="${viewType+','+viewId}" />
			<input type="hidden" name="export" value=""/>
			<table cellpadding="0" cellspacing="0" border="0" width="100%">
				<tr>
					<td class="Table_title" th:text="*{titleName}">
					<img src="../images/icon_01.gif" />术语项目一览（术语名：证件类型）</td>
				</tr>
			</table>
			
			<input type="hidden" name="currentPage" value="1"
				th:field="*{currentPage}" /> 
			<input type="hidden" name="totalPage"
				value="5" th:field="*{totalPage}" /> 
			<input type="hidden"
				name="jumpToPage" id="jumpToPage" value="" /> 
			<input type="hidden"
				name="dictId" value="*{dictId}" th:field="*{dictId}" /> 
			<input type="hidden"
				name="dictName" value="*{dictName}" th:field="*{dictName}" /> 
			<input type="hidden"
				name="tableName" value="*{tableName}" th:field="*{tableName}" /> 
			<input
				type="hidden" name="title" value="*{title}" th:field="*{title}" />
		</form>
		<hr />
		<div id="dataTable"
			style="padding-top: 5px; border: 0px solid #aacbee;">
			<div align="left">
				<table>
					<tbody>
						<div th:if="*{termMainCondition.isEdit=='Y' }" >
								<td colspan="2" align="right">
									<button id="exportBtn" name="exportBtn" type="button"
										style="height: 25px;" class="btn01">
										<img src="../images/btn/excel.gif"
											style="vertical-align: middle;" />&nbsp;导出excel
									</button>
									<button type="button" style="width: 85px; height: 25px;"
										class="btn01"
										th:onclick="'javascript:location.href=\'../term/dictlist.html?title='+*{termMainCondition.title}+'\';'">
										<img src="../images/btn/back.gif" style="vertical-align: middle;" />&nbsp;返回
									</button>
								</td>
						</div>
						<div th:if="*{termMainCondition.isEdit=='N' }">
								<td colspan="3" align="right">
									<button type="button" style="width: 85px; height: 25px;"
										class="btn01"
										th:onclick="'javascript:location.href=\'../term/dictlist.html?title='+*{termMainCondition.title}+'\';'">
										<img src="../images/btn/back.gif" style="vertical-align: middle;" />&nbsp;返回
									</button></td>
						</div>
					</tbody>
				</table>
			</div>
			<p style="height: 5px;"></p>
			<div id="termListDiv" style="overflow-x:auto;width:50px;height:100%" >
			<table style="margin-top: 1px;white-space: nowrap;"
				cellspacing="0" cellpadding="1" class="Table_01"  >
				<thead>
					<tr>
						<th style="width: 50px;" th:each="item : ${dictNameIsShowList}"
							th:text="${item['field_desc']}">编码</th>
						<div th:if="*{termMainCondition.isEdit=='Y' }">
							<th style="width: 50px;">编辑状态</th>
							<th style="width: 50px;">发布状态</th>
							<th style="width: 50px;">审批意见</th>
							<th style="width: 260px;">查看</th>
						</div>
					</tr>
				</thead>
				<tbody>
					<tr style="cursor: pointer;" th:each="itemData : ${dictDataList}">
						<td th:if="*{termMainCondition.title!='0'}" th:unless="*{(termMainCondition.title=='2' and itemData['release_status'] =='a') or (termMainCondition.title=='1' and itemData['release_status'] =='d')} "></td>
						<td th:each="itemField : ${dictNameIsShowList}"
							th:text="${itemField['field_type']!='NUMBER(1)' ? itemData['__${itemField['field_name']}__'] : itemData['__${itemField['field_name']}__'] == 0 ? '否':'是'}"
							align="center"></td>
						<div
							th:if="*{termMainCondition.isEdit=='Y'}">
							<td align="center" th:if="${itemData['opt_status']=='a' }">新增</td>
							<td align="center" th:if="${itemData['opt_status']=='d' }">删除</td>
							<td align="center" th:if="${itemData['opt_status']=='u' }">修改</td>
							<td align="center" th:if="${itemData['opt_status']==null }">&nbsp;</td>
							<td align="center" th:if="${itemData['release_status']=='a' }">待发布</td>
							<td align="center" th:if="${itemData['release_status']=='d' }">待审批</td>
							<td align="center" th:if="${itemData['release_status']=='r' }">已驳回</td>
							<td align="center" th:if="${itemData['release_status']=='c' }">已发布</td>
							<td align="center" th:text="${itemData['examine_comment']}">审批意见</td>
							<td align="center">
							<a th:if="${itemData['release_status']!='c' and itemData['opt_status']!='a' and itemData['opt_status']!='d'}" th:href="@{./dictitemeditdetail.html(viewType=${viewType},viewId=${viewId},dictId=*{termMainCondition.dictId},title=*{termMainCondition.title},uni_key=${itemData['uni_key']})}"
								class="Linkblue" target="_self">变更比较</a>
							</td>
						</div>
					</tr>
				</tbody>
				</table>
				</div>
				<div style="width:100%;height:100%">
				<table  style="margin-top: 1px;" cellspacing="0" cellpadding="1" class="Table_01">
					<tr th:unless="${#lists.isEmpty(dictDataList)}"
						class="datatable-paging">
						<td colspan="2" class="datatable-paging-info"><span
							class="datatable-paging-count">第<span
								th:text="${termMainCondition.currentPage}">1</span>页/共<span
								th:text="${termMainCondition.totalPage}">550</span>页</span> <span
							class="datatable-paging-total">总共<span
								th:text="${termMainCondition.totalSize}">5500</span>条数据</span></td>
						<td colspan="10" class="datatable-paging-page"><span
							class="datatable-paging-first"
							th:style="${termMainCondition.currentPage == 1 ? 'display: none;' : ''}"
							onclick="firstPage(document.DataForm);">首页</span> <span
							class="datatable-paging-previous"
							th:style="${termMainCondition.currentPage == 1 ? 'display: none;' : ''}"
							onclick="prevPage(document.DataForm);">上一页</span> <span
							class="datatable-paging-next"
							th:style="${termMainCondition.currentPage == termMainCondition.totalPage ? 'display: none;' : ''}"
							onclick="nextPage(document.DataForm);">下一页</span> <span
							class="datatable-paging-last"
							th:style="${termMainCondition.currentPage == termMainCondition.totalPage ? 'display: none;' : ''}"
							onclick="lastPage(document.DataForm);">尾页</span> <span
							class="datatable-paging-jump"
							th:style="${termMainCondition.totalPage == 1 ? 'display: none;' : ''}">
								<span>跳转到：</span> <input type="text"
								class="datatable-paging-jump-input" id="jumpToInput" /> <span
								class="datatable-paging-jump-go"
								onclick="jumpToPage(document.DataForm, document.getElementById('jumpToInput'));"></span>
						</span></td>
					</tr>
					<tr th:if="${#lists.isEmpty(dictDataList)}"
						class="datatable-paging">
						<td colspan="100" class="datatable-paging-info"><span>没有查询结果，请修改检索条件重新检索。</span>
						</td>
					</tr>
			</table>
			</div>
			
			<div>
				<div align="center" id="dialog-form" title="术语数据编辑"
					style="margin: 5px; padding: 1px; solid: #aacbee; background: #f8f8f8;">
				</div>
				<div align="center" id="commentA-form" title="审批同意意见"
					style="margin: 8px; padding: 1px; solid: #aacbee; background: #f8f8f8;">
					<textarea rows="9" cols="55" id="commentA" name="commentA"
						maxlength="500"></textarea>
				</div>
				<div align="center" id="commentR-form" title="审批驳回意见"
					style="margin: 8px; padding: 1px; solid: #aacbee; background: #f8f8f8;">
					<textarea rows="9" cols="55" id="commentR" name="commentR"
						maxlength="500"></textarea>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
