<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>修改密码</title>
    <link rel="icon" type="image/x-icon" href="../favicon.ico" /> 
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" /> 
     <style>
		fieldset { padding:0; border:0; margin-top:3px; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; }
		.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
	</style>
    <div th:fragment="styles">
	    <link href="../styles/monitor.css" type="text/css"  rel="stylesheet" />
	    <link href="../styles/layout.css" type="text/css"  rel="stylesheet" />
	    <link href="../styles/table.css" type="text/css"  rel="stylesheet" />
	    <link rel="stylesheet" href="../styles/themes/base/jquery.ui.all.css"/>
	    <link href="../styles/monitor-search.css" type="text/css"  rel="stylesheet" />
    </div>
   	<script type="text/javascript" src="../scripts/jquery-1.7.1.js"></script>
    <script type="text/javascript" src="../scripts/asyncBox.v1.4.js" charset="utf-8"></script>
    <div th:fragment="scripts">
		<script type="text/javascript" src="../scripts/term/updatePassword.js"></script>
   </div>
   <script>
   			function checkOldPassword(obj){
   				var url = "../user/checkOldPassword.html";
   				$.post(url,{"userAccount":$("#userAccount")[0].innerText,"userPasswd":$(obj).val()},function(data){
   					if(data.status == '0'){
   						$("#oldPasswdDesc").css("color","red").text("旧密码不正确");
   					}else{
   						document.getElementById("oldPasswdDesc").innerHTML = '<img src="../images/btn/agree.png"/>';
   					}
   				}); 
   			}
   	</script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<div th:fragment="content" style=" overflow-y:no;height:95%;margin: 3px; padding: 1px; border: 1px solid #aacbee; background: #f8f8f8;">
		<p id="unitGroup" class="validateTips" style="color:red;" ></p>
		<form id="DataForm" name="DataForm" method="post" action="" >
			<table cellpadding="0" cellspacing="0" border="0" width="100%" >
				<tr>
					<td class="Table_title" ><img src="../images/icon_01.gif" /> 修改密码</td>
				</tr>
			</table>
            <div id="searchDiv" class="Graybg">
                <table class="Table_s" align="center" style="width:100%">
                	<tr align="center">
                		<td class="label" style="width:180px;">
                			登录账号
                		</td>
                		<td id="userAccount" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}" align="left"></td>
                        <td id="unitGroupIdDesc" style="width:120px;" align="left"></td>
                    </tr>
                     <tr>
                        <td class="label" >
                        	用户姓名
                        </td>
                        <td style="width:120px;" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.realName}" align="left">超级管理员</td>
                        <td id="unitGroupNameDesc" style="width:140px;"></td>
                    </tr>
                    <tr >
                    	<td class="label" style="text-align: right; ">
                    		<font color="red" style="top:2px;">*</font>旧密码 
                    	</td>
                    	<td style="width:120px;">
                    		<input type="password" id="oldPasswd" placeholder="请输入旧密码" name="oldPasswd" onblur="checkOldPassword(this);"/>
                        </td>
                        <td id="oldPasswdDesc" style="width:140px;"></td>
                     </tr>
                     <tr>
                    	<td class="label" style="text-align: right;">
                    		<font color="red" style=" top:2px;">*</font>新密码
                    	</td>
                    	<td style="width:120px;">
                    		<input type="password" id="newPasswd" placeholder="8~30个字符，区分大小写" name="newPasswd" />
                         </td>
                         <td id="newPasswdDesc" style="width:150px;"></td>
                     </tr>
                     <tr>
                        <td class="label"><font color="red" style=" top:2px;">*</font>确认密码</td>
                        <td style="width:120px;"><input type="password" id="confirmNewPasswd" placeholder="请再次填写密码" name="confirmNewPasswd" /></td>
                        <td id="confirmNewPasswdDesc" style="width:150px;"></td>
                    </tr>
                </table>
            </div>
		</form>
	</div>
</body>
</html>
