<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>权限设定</title>
    <link rel="icon" type="image/x-icon" href="../favicon.ico" /> 
    <link rel="shortcut icon" type="image/x-icon" href="../favicon.ico" /> 
     <style>
		fieldset { padding:0; border:0; margin-top:3px; }
		.ui-dialog .ui-state-error { padding: .3em; }
		.validateTips { border: 1px solid transparent; }
		.ui-widget-header { border: 1px solid #aaaaaa; background: #cccccc url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x; color: #222222; font-weight: bold; }
	</style>
    <div th:fragment="styles">
	    <link href="../styles/monitor.css" type="text/css"  rel="stylesheet" />
	    <link href="../styles/layout.css" type="text/css"  rel="stylesheet" />
	    <link href="../styles/table.css" type="text/css"  rel="stylesheet" />
	    <link rel="stylesheet" href="../styles/themes/base/jquery.ui.all.css"/>
	    <link href="../styles/monitor-search.css" type="text/css"  rel="stylesheet" />
	    
	    <link rel="stylesheet" href="../styles/tab/tabbed_pages.css" />
    </div>
   	<script type="text/javascript" src="../scripts/jquery-1.7.1.js"></script>
	    <script src="../scripts/ui/jquery.ui.core.js"></script>
		<script src="../scripts/ui/jquery.ui.widget.js"></script>
		<script src="../scripts/ui/jquery.ui.mouse.js"></script>
		<script src="../scripts/ui/jquery.ui.button.js"></script>
		<script src="../scripts/ui/jquery.ui.draggable.js"></script>
		<script src="../scripts/ui/jquery.ui.position.js"></script>
		<script src="../scripts/ui/jquery.ui.resizable.js"></script>
		<script src="../scripts/ui/jquery.ui.dialog.js"></script>
		<script src="../scripts/ui/jquery.ui.effect.js"></script>
    	<script type="text/javascript" src="../scripts/paging.js"></script>
    	
    	
    <div th:fragment="scripts">
    	<script src="../scripts/tabEnter.js"></script>
		<script src="../scripts/sysmgt/authorityMain.js" type="text/javascript"></script>
    	<script src="../scripts/zTree_v3-master/js/jquery.ztree.all.min.js"></script>
   </div>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
</head>
<body>
	<div th:fragment="content" style="height:450px;margin: 5px; padding: 2px; border: 1px solid #aacbee; background: #f8f8f8; min-width: 1020px;">
		<table cellpadding="0" cellspacing="0" border="0" width="100%" >
			<tr>
				<td class="Table_title"> <img src="../images/icon_01.gif" /> 权限管理</td>
			</tr>
			<tr style="height:5px;">
                <td ></td>
            </tr>
		</table>
			
		<!-- 选项卡 -->		
		<div id="authority" style="hidden:true;">
			<div th:if="${option=='role'}">
				<div class="on" name="rolePage" id="rolePageChange">
					<span>角色</span>
				</div>
				<div class="off" name="accountPage" id="accountPageChange">
					<span>账户</span>
				</div>
			</div>
			<div th:if="${option=='user'}">
				<div class="off" name="rolePage" id="rolePageChange">
					<span>角色</span>
				</div>
				<div class="on" name="accountPage" id="accountPageChange">
					<span>账户</span>
				</div>
			</div>
		</div>
		<input type="hidden" id="option" th:value="${option}" />
		
		<!--第一个选项卡-->
		<div id="rolePage" class="show" style="height: 345px;overflow-x:auto;overflow-y:hidden;">
			<div id="roleTab" style="height: 0px;width:95%;display:none;"></div>
				<form method="post" action="../authority/showRoleInAuthority.html" th:object="${roleCondition}" id="roleForm" name="roleForm">
				<input type="hidden" name="currentPage" value="1" th:field="*{currentPage}"/>
	       		<input type="hidden" name="totalPage"   value="5" th:field="*{totalPage}"/>
	        	<input type="hidden" name="jumpToPage" id="jumpToPage"  value="" />
	        	<input type="hidden" name="backMsg" id="backMsg" th:value="${backMsg}" />
				
				<!-- 角色搜索框 -->
				<div id="roleSearchDiv">
                <table class="Table_s">
                    <tr>
						<td class="label" width="70px">角色名</td>
                        <td>
                           <input style="height:20px;" type="text" name="roleName" id="roleName" th:value="${roleCondition.roleName}"/>
                        </td>

                        <td style="width: 55px;"></td>
                        <td>
							<button  id="roleSeachBtn" type="button" style="overflow:visible;width:auto;height:25px;" class="btn01"
								onclick="javascript:doRoleSearch()">
								<img src="../images/btn/search.gif" style="vertical-align: middle;"/>&nbsp;搜索
							</button>
						</td>
						<td>
							<button  id="roleCleanBtn" type="button" style="overflow:visible;width:auto;height:25px;" class="btn01"
								onclick="javascript:cleanSearch()">
								<img src="../images/btn/clean.gif" style="vertical-align: middle;"/>&nbsp;清空
							</button>
						</td>
                    </tr>
                    <tr style="height:1px;">
                        <td colspan="8"></td>
                    </tr>
                </table>
       			</div>
				</form>
				<hr/>
				
				<div id="dataTable" style="padding-top: 5px; border: 0px solid #aacbee;">
				<div align="left">
					<button  id="addBtn" type="button" style="overflow:visible;width:auto;height:25px;"  class="btn01"
						onclick="javascript:addRole()">
					<img src="../images/btn/add.gif"
						style="vertical-align: middle;" />新增
					</button>
					<button  id="delBtn" type="button" style="overflow:visible;width:auto;height:25px;"  class="btn01"
						onclick="javascript:delRole()">
					<img src="../images/btn/delete.gif"
						style="vertical-align: middle;" />删除
					</button>
				</div>
				<p style="height:5px;"></p>
				<table style="width: 100%; margin-top: 1px;" border="1px" cellspacing="0" cellpadding="1" class="Table_01">
						<thead>
							<tr>
								<th style="width:30px;" align="center">
									<input type="checkbox" id="parentBox" onclick="javascript:checkParent()"/>
								</th>
								<th style="width:100px;" align="center" >序号</th>
								<th style="width:300px;">角色名</th>
								<th style="">备注</th>
								<th style="width:400px;">操作</th>				
							</tr>
						</thead>
						<tbody>
							<tr style="cursor: pointer;" th:each="item : ${roleList}" >
								<td style="width:30px;" align="center"><input type="checkbox" name="childrenBox" th:value="${item.roleId}"/></td>
								<td align="center"  onclick="javascript:checkThis(this);" th:text="${#ids.seq('')}" th:id ="${item.roleId}">1</td>
								<td  onclick="javascript:checkThis(this);" th:text="${item.roleName}"></td>				
								<td  onclick="javascript:checkThis(this);" th:title="${item.memo}"><div style="white-space:nowrap;overflow:hidden;text-overflow:ellipsis;width:400px;"><nobr><label th:text="${item.memo}"></label></nobr></div></td>
								<td  align="center">
									<a href="#" th:onclick="'javascript:editRole(\''+${item.roleId}+'\');'" style="color:blue;text-decoration:underline; " >编辑</a>
								</td>
							</tr>
						</tbody>
						<tfoot>
							<tr th:unless="${#lists.isEmpty(roleList)}" class="datatable-paging">
				                <td colspan="3" class="datatable-paging-info">
				                     <span class="datatable-paging-count">第<span th:text="${roleCondition.currentPage}">1</span>页/共<span th:text="${roleCondition.totalPage}">550</span>页</span>
				                     <span class="datatable-paging-total">总共<span th:text="${roleCondition.totalSize}">5500</span>条数据</span>
				                </td>
				                <td colspan="2" class="datatable-paging-page">
				                     <span class="datatable-paging-first" th:style="${roleCondition.currentPage == 1 ? 'display: none;' : ''}" onclick="firstPage(document.roleForm);">首页</span>
				                     <span class="datatable-paging-previous" th:style="${roleCondition.currentPage == 1 ? 'display: none;' : ''}" onclick="prevPage(document.roleForm);">上一页</span>
				                     <span class="datatable-paging-next" th:style="${roleCondition.currentPage == roleCondition.totalPage ? 'display: none;' : ''}" onclick="nextPage(document.roleForm);">下一页</span>
				                     <span class="datatable-paging-last" th:style="${roleCondition.currentPage == roleCondition.totalPage ? 'display: none;' : ''}" onclick="lastPage(document.roleForm);">尾页</span>
				                     <span class="datatable-paging-jump" th:style="${roleCondition.totalPage == 1 ? 'display: none;' : ''}">
				                         <span>跳转到：</span>
				                         <input type="text" class="datatable-paging-jump-input" id="jumpToInput" />
				                         <span class="datatable-paging-jump-go" onclick="jumpToPage(document.roleForm, document.getElementById('jumpToInput'));"></span>
				                     </span>
				                 </td>
			              	 </tr>
		                    <tr th:if="${#lists.isEmpty(roleList)}" class="datatable-paging">
			                    <td colspan="8" class="datatable-paging-info">
			                        <span>没有查询结果，请修改检索条件重新检索。</span>
			                    </td>
			                </tr>
						</tfoot>
				</table>
				</div>
				
				
		</div>
		
		<!-- 第二个选项卡 -->
		<div id="accountPage" class="show" style="height:345px;overflow-x:auto;overflow-y:hidden;">
			 <div id="accountTab" style="height:0px;width:95%;display:none;"> </div>
			 
			 
			<form method="post" action="../authority/showUserInAuthority.html" th:object="${accountCondition}" id="accountForm" name="accountForm">
				<input type="hidden" name="currentPage" value="1" th:field="*{currentPage}"/>
	       		<input type="hidden" name="totalPage"   value="5" th:field="*{totalPage}"/>
	        	<input type="hidden" name="jumpToPage" id="jumpToPage"  value="" />
	        	<input type="hidden" name="backMsg" id="backMsg" th:value="${backMsg}" />
			 <!-- 账户搜索框 -->
			 <div id="accountSearchDiv">
                <table class="Table_s">
                    <tr>
						<td class="label" width="70px">登录账号</td>
                        <td>
                            <input style="height:20px;" type="text" id="userAccount" name="userAccount" th:value="${accountCondition.userAccount}"/>
                        </td>
                        
                        <td class="label" width="70px">账户名称</td>
                        <td>
                            <input style="height:20px;" type="text" id="userName" name="userName" th:value="${accountCondition.userName}"/>
                        </td>
                        
						
                        <td style="width: 55px;"></td>
                        <td>
							<button  id="accountSeachBtn" type="button" style="overflow:visible;width:auto;height:25px;" class="btn01"
								onclick="javascript:doAccountSearch()">
								<img src="../images/btn/search.gif" style="vertical-align: middle;"/>&nbsp;搜索
							</button>
						</td>
						<td>
							<button  id="accountCleanBtn" type="button" style="overflow:visible;width:auto;height:25px;" class="btn01"
								onclick="javascript:cleanSearch()">
								<img src="../images/btn/clean.gif" style="vertical-align: middle;"/>&nbsp;清空
							</button>
						</td>
                    </tr>
                    <tr style="height:1px;">
                        <td colspan="8"></td>
                    </tr>
                </table>
       		</div>
       			
			 <table style="width:100%; margin-top: 1px;" border="1px" cellspacing="0" cellpadding="1" class="Table_01">
			 	<thead>
					<tr>
						<th style="width:30px;" align="center">序号</th>
						<th style="width:70px;">登录账号</th>
						<th style="width:70px;">账户名称</th>
						<th style="width:70px;">账户状态</th>
						<th style="width:145px;">所属角色</th>
						<th style="width:145px;">备注</th>
						<th style="width:270px;">操作</th>
					</tr>
				</thead>
				<tbody class="tbody">
					<tr style="cursor: pointer;" th:each="item : ${userList}">
						<td align="center" th:text="${#ids.seq('')}">1</td>
						<td class="userAcc" th:text="${item.userAccount}"></td>
						<td th:text="${item.userName}"></td>
						<td th:text="((${item.enableFlag} eq '1')?'启用':'停用')" align="center"></td>
						<td th:title="${item.roleName}">
							<div
								style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 200px;">
								<nobr>
									<label th:text="${item.roleName}"></label>
								</nobr>
							</div>
						</td>
						<td th:title="${item.memo}">
							<div style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 200px;">
								<nobr>
									<label th:text="${item.memo}"></label>
								</nobr>
							</div>
						</td>
						<td  align="center">
									<a style="color:blue;text-decoration:underline; " class="Linkblue" target="_self">系统权限设置（还没写js函数）</a>
								&nbsp;&nbsp;&nbsp;<a style="color:blue;text-decoration:underline; " class="Linkblue" target="_self">术语权限设置</a>
						</td>
					</tr>
				</tbody>
				<tfoot>
					<tr th:unless="${#lists.isEmpty(userList)}" class="datatable-paging">
		                 <td colspan="5" class="datatable-paging-info">
		                     <span class="datatable-paging-count">第<span th:text="${accountCondition.currentPage}">1</span>页/共<span th:text="${accountCondition.totalPage}">550</span>页</span>
		                     <span class="datatable-paging-total">总共<span th:text="${accountCondition.totalSize}">5500</span>条数据</span>
		                 </td>
		                 <td colspan="5" class="datatable-paging-page">
		                     <span class="datatable-paging-first" th:style="${accountCondition.currentPage == 1 ? 'display: none;' : ''}" onclick="firstPage(document.accountForm);">首页</span>
		                     <span class="datatable-paging-previous" th:style="${accountCondition.currentPage == 1 ? 'display: none;' : ''}" onclick="prevPage(document.accountForm);">上一页</span>
		                     <span class="datatable-paging-next" th:style="${accountCondition.currentPage == accountCondition.totalPage ? 'display: none;' : ''}" onclick="nextPage(document.accountForm);">下一页</span>
		                     <span class="datatable-paging-last" th:style="${accountCondition.currentPage == accountCondition.totalPage ? 'display: none;' : ''}" onclick="lastPage(document.accountForm);">尾页</span>
		                     <span class="datatable-paging-jump" th:style="${accountCondition.totalPage == 1 ? 'display: none;' : ''}">
		                         <span>跳转到：</span>
		                         <input type="text" class="datatable-paging-jump-input" id="accountJumpToInput" />
		                         <span class="datatable-paging-jump-go" onclick="jumpToPage(document.accountForm, document.getElementById('accountJumpToInput'));"></span>
		                     </span>
		                 </td>
	                </tr>
                    <tr th:if="${#lists.isEmpty(userList)}" class="datatable-paging">
	                    <td colspan="9" class="datatable-paging-info">
	                        <span>没有查询结果，请修改检索条件重新检索。</span>
	                    </td>
	                </tr>
				</tfoot>
			 </table>
			
			</form>
			
		</div>
		
		
		
		
		
		

	</div>
</body>
</html>
